@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap');
/* -----------------------------------------------------
                          Start Public Style
---------------------------------------------------------
*/
:root {
    --primary-color:#ff003c;
    --secondry-color:#141517;
    --responsive-color:rgb(121, 118, 118);
}
* ,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.transition-hover {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.container {
    width:85%;
    margin: auto;
}
/* -------------------------------------------------------------
                         End Public Style
------------------------------------------------------------------
*/
/* ------------------------- Start Nav-bar-------------------------- */
nav {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px 40px;
    background-color: #ccc;
}
nav .logo {
   width: 20%;
} 
nav  label span{
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    background-color: var(--secondry-color);
    cursor: pointer;
} 
nav #btn-responsive, 
nav label {
    display:none;
}   
nav .nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav li {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}
nav .nav >li:nth-child(4) {
    position: relative;
}
nav .nav >li:nth-child(4)::after{
    position: absolute;
    top: -21px;
    left: 49px;
    width: 24px;
    padding: 4px;
    content: "HOT";
    background-color: var(--primary-color);
    font-size: 11px;
    color: #fff;
    line-height: .9;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 1px var(--primary-color));
}
nav .nav li .drop-down {
    /* position: absolute; */
    position: absolute;
    top: 76px;
    width: 160px;
    background-color: #fff;
    padding: 15px;
    border-top: 2px solid var(--primary-color);
    border-radius: 7px;
    filter: drop-shadow(1px 2px 2px rgb(167, 165, 165));
    opacity: 0;
    visibility: hidden;
}
nav .nav li .drop-down::after {
    position: absolute;
    top: -16px;
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid var(--primary-color);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
nav .nav li:hover .drop-down {
    top: 50px;  
    opacity: 1;
    visibility: visible; 
}
.drop-down li {
    margin: 5px 0;
}
nav .nav li a {
    color:var(--secondry-color);
}
nav .service-icon {
    width: 20%;
    text-align: right;
}
nav .service-icon a {
    margin-left: 20px;
}
nav .service-icon a i {
    font-size: large;
    color: var(--secondry-color);
}
nav .nav li :hover,
nav .service-icon a:hover {
    color: var(--primary-color)  ;
}
/* ----------------------- End Nav-bar-------------------------- */

/* ------------------------Start Header Section----------------- */
.header {
    width:100%; 
    background-color: #ddd;
}
.header .container .header-content {
    /* width:100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content .header-img  {
    border:1px solid red;
}
.header-content .header-desc  {
    border:1px solid yellow;
    
}
.header-content .header-img {
    text-align: center;
}
.header-content .header-img img {
    /*width: 30%;
    */width:55%;
    animation-name: scale-img;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes scale-img {
    from{ transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
    to{ transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
}

/* ------------------------Endt Header Section----------------- */



/* ============================================================

                            Start Media Query

=================================================================
*/
/****************************  Media Nav-bar**********************/
@media(max-width:1199px) {
    
}
@media(max-width:991px) {
    nav  {
        justify-content: space-between;
        padding: 15px; 
    }
    nav .logo {
       
    } 
    
    nav label {
        display:block;
        order:2;
    }   
    nav .nav {
       display: unset;
       background-color: var(--secondry-color);
       position: absolute;
       top: 18%;
       left: 5%;
       width:90%;
       opacity:0;
       visibility: hidden;
       transition: all .3s ease;
       -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
       -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
    }
    nav #btn-responsive:checked ~ .nav {
        opacity: 1;
        visibility: visible;
    }
    nav .nav .item-list {
        position: unset;
        margin:15px;
        padding: 5px;
        border-radius:3px ;
        color:var(--secondry-color);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    /* nav .nav li:hover  {
        background-color: #ccc;
    }     */
    nav .nav .item-list:hover  {
        background-color: #ccc;
        /* border: 2px solid var(--responsive-color); */
        border-radius:3px ;
        color:var(--secondry-color);
    }
    nav .nav .item-list:hover:not(.dro)  {
        background-color: #ccc;
    }
    /* nav .nav li :hover  {
        background-color: #ccc;
        border: 2px solid var(--responsive-color);
        border-radius:3px ;
        color:var(--secondry-color);
    }     */
    nav .nav li a {
        color:#fff;
    }
    nav .nav li:hover a {
        color:var(--secondry-color);
    }
    nav .nav >li:nth-child(4)::after {
        display: none;
    }
    nav .nav li .drop-down {
        position: unset;
        width: 190px;
        background-color: transparent;
        padding: 10px;
        border-top: 0;
        border-radius: 0;
        filter: 0;
        opacity: 1;
        visibility: visible;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        display: none;
    }
    nav .nav li .drop-down li {
        margin: 0;
    }
    nav .nav li:hover .drop-down{
        display: block;
    }
    nav .nav li .drop-down::after {
        display: none;
    }
    nav .service-icon a {
        color:#000;
    }
}
@media(max-width:767px) {
    
}

@media(max-width:575px) {

}
/*********************** End Media Nav-bar*******************/