@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap');
/* -----------------------------------------------------
                          Start Public Style
---------------------------------------------------------
*/
:root {
    --primary-color:#ff003c;
    --secondry-color:#141517;
    --responsive-color:rgb(121, 118, 118);
}
* ,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.transition-hover {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.container {
    width:85%;
    margin: auto;
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.btn {
    padding: 15px 29px;
    font-size: 19px;
    background: #4a4a4b;
    color: #fff;
    border: 0;
    font-weight: 600;
    z-index: 1;
    position: relative;
}
.btn:hover::after {
    left:0;
    /* width:100%; */
}
.btn::after {
    content: "";
    position: absolute;
    /* width: 100%; */
    width:100%;
    height: 100%;
    left: -100%;
    /* left:0; */
    top:0;
    background-color: var(--primary-color);
    z-index: -1;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}    
/* -------------------------------------------------------------
                         End Public Style
------------------------------------------------------------------
*/
/* ------------------------- Start Nav-bar-------------------------- */
nav {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px 40px;
    background-color: #fff;
    z-index: 99999;
}
nav .logo {
   width: 20%;
} 
nav  label span{
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    background-color: var(--secondry-color);
    cursor: pointer;
} 
nav #btn-responsive, 
nav label {
    display:none;
}   
nav .nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav li {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}
nav .nav >li:nth-child(4) {
    position: relative;
}
nav .nav >li:nth-child(4)::after{
    position: absolute;
    top: -21px;
    left: 49px;
    width: 24px;
    padding: 4px;
    content: "HOT";
    background-color: var(--primary-color);
    font-size: 11px;
    color: #fff;
    line-height: .9;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 1px var(--primary-color));
}
nav .nav li .drop-down {
    /* position: absolute; */
    position: absolute;
    top: 76px;
    width: 160px;
    background-color: #fff;
    padding: 15px;
    border-top: 2px solid var(--primary-color);
    border-radius: 7px;
    filter: drop-shadow(1px 2px 2px rgb(167, 165, 165));
    opacity: 0;
    visibility: hidden;
}
nav .nav li .drop-down::after {
    position: absolute;
    top: -16px;
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid var(--primary-color);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
nav .nav li:hover .drop-down {
    top: 50px;  
    opacity: 1;
    visibility: visible; 
}
.drop-down li {
    margin: 5px 0;
}
nav .nav li a {
    color:var(--secondry-color);
}
nav .service-icon {
    width: 20%;
    text-align: right;
}
nav .service-icon a {
    margin-left: 20px;
}
nav .service-icon a i {
    font-size: large;
    color: var(--secondry-color);
}
nav .nav li :hover,
nav .service-icon a:hover i{
    color: var(--primary-color)  ;
}
/* ----------------------- End Nav-bar-------------------------- */

/* ------------------------Start Header Section----------------- */
.header {
    width:100%;
    background-color: #f0f0f2;
    /* position: relative; */
}    
.header .header-content  {
    /* border:1px solid yellow; */
    align-self: center;
    overflow: hidden;
    animation-name:header-content; 
    animation-duration: .7s; 
}
@keyframes header-content {
    0%{ transform:translateX(-100%) ; -webkit-transform:translateX(-100%) ; -moz-transform:translateX(-100%) ; -ms-transform:translateX(-100%) ; -o-transform:translateX(-100%) ; }
    100%{ transform:translateX(0) ; -webkit-transform:translateX(0) ; -moz-transform:translateX(0) ; -ms-transform:translateX(0) ; -o-transform:translateX(0) ; }
}
.header .header-content h1 {
    color: #0b1c39;
    font-size: 79px;
    line-height: 1.2;
    font-weight: 700;
} 
.header .header-content p {
    margin: 40px 0;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    color: #212025;
    padding-right: 50px;
}
.header .header-img {
    text-align: center;
    overflow: hidden;
}
.header .header-img img {
   width:70%;
   animation-name: scale-img;
   animation-duration: 2.3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
@keyframes scale-img {
    from{ transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
    to{ transform:scale(1.1) ; -webkit-transform:scale(1.1) ; -moz-transform:scale(1.1) ; -ms-transform:scale(1.1) ; -o-transform:scale(1.1) ; }
}
/* ------------------------Endt Header Section----------------- */
/* ---------------------start new-arrivals----------------------- */
.new-arrivals {
    padding: 140px 0;
}
.new-arrivals .row {
    gap: 25px;
}
.new-arrivals .title {
    margin-bottom: 55px;
    text-transform: capitalize;
}
.new-arrivals .title h2 {
    font-size: 55px;
}
.new-arrivals .product {
    width: 33%;
}
.new-arrivals .product-img {
    overflow: hidden;
    
}
.new-arrivals .product-img img {
    width:100%;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.new-arrivals .product:hover .product-img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
} 
.new-arrivals .product-details {
    text-align: center;
    margin-top: 27px;
}
.new-arrivals .product-details a{
    color: #444;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 12px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
}
.new-arrivals .product-details span {
    color: var(--primary-color);
}
/* ---------------------End new-arrivals----------------------- */
/* --------------------- Start image-sec ----------------------- */
.image-sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 30px;
}
.image-sec .item {
    overflow: hidden;
}
.image-sec .item:nth-child(1),
.image-sec .item:nth-child(2) {
    grid-row: 1/3;
    
}
.image-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
     filter:brightness(.8);
    
}
.image-sec .item:hover  img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    filter:brightness(.5);
}
/* ----------------------- End image-sec ----------------------- */



/* ----------------------- Start bg-video -------------------------*/
.bg-video {
    width: 100%;
    height: 400px;
    background-image: url('../img/bg/sectin_bg1.webp');
    background-size: cover;
    /*background-position:bottom*غير مؤثر/;
    */
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} 
/* .bg-video::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,.4);

} */
.bg-video:hover {
    filter: brightness(0.5);
}    
.bg-video .btn-icon {
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.bg-video:hover .btn-icon {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.bg-video .btn-icon:hover {
    background-color: #fff;
    color: var(--primary-color);
}
.next-video {
    background-image: url(../img/gallery/vidoe_more.webp);
    position: absolute;
    left: 0;
    width: 30%;
    padding: 20px 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-video p {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-left: 25px;
}
.next-video a {
    font-size: 30px;
    color: #fff;
    margin-right: 30px;
}
/* ----------------------- End bg-video -------------------------*/





/* ============================================================
                          Start Media Query
=================================================================
*/
/****************************  Media Nav-bar**********************/
@media(max-width:1199px) {
    nav {
        /* z-index: 99999; */
    }    
    /* ====================== header ========== */
    .header .header-content h1 {
        font-size: 65px;
    } 
}
@media(max-width:991px) {
    /* =========== nav bar============ */
    nav  {
        justify-content: space-between;
        padding: 15px; 
    }
    nav label {
        display:block;
        order:2;
    }   
    nav .nav {
       display: unset;
       background-color: var(--secondry-color);
       position: absolute;
       top: 18%;
       left: 5%;
       width:90%;
       opacity:0;
       visibility: hidden;
       transition: all .3s ease;
       -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
       -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
    }
    nav #btn-responsive:checked ~ .nav {
        opacity: 1;
        visibility: visible;
    }
    /* nav #btn-responsive:checked .header .header-content button{
        margin-top: 50px;
    } */
    nav .nav .item-list {
        position: unset;
        margin:15px;
        padding: 5px;
        border-radius:3px ;
        color:var(--secondry-color);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    nav .nav .item-list:hover  {
        background-color: #ccc;
        border-radius:3px ;
        color:var(--secondry-color);
    }
    nav .nav .item-list:hover:not(.dro)  {
        background-color: #ccc;
    }
    nav .nav li a {
        color:#fff;
    }
    nav .nav li:hover a {
        color:var(--secondry-color);
    }
    nav .nav >li:nth-child(4)::after {
        display: none;
    }
    nav .nav li .drop-down {
        position: unset;
        width: 190px;
        background-color: transparent;
        padding: 10px;
        border-top: 0;
        border-radius: 0;
        filter: 0;
        opacity: 1;
        visibility: visible;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        display: none;
    }
    nav .nav li .drop-down li {
        margin: 0;
    }
    nav .nav li:hover .drop-down{
        display: block;
    }
    nav .nav li .drop-down::after {
        display: none;
    }
    nav .service-icon a {
        color:#000;
        margin-left: 5px;
    }
    /* =================== header ================= */
    .header .row {
        justify-content: space-between;
    }    
    .header .header-content {
        width: 60%;
        align-self: center;
        /* لماذا يكتب هنا */
        /* border: 1px solid yellow; */
    }
    .header .header-content h1 {
        font-size: 49px;
        margin-bottom: 22px;
       
    }
    .header .header-content p {
        padding-right: 0;
        /* margin: 50px 0px; */
        /* margin-bottom: 30px; */
    }
    .header .header-img {
        width: 25%;
        z-index: -1;
        /* border: 1px solid red; */
        /* text-align: center; */
    }
    .header .header-img img {
        width:100%;
    }
    .header .header-content button {
        margin-top: 20px;
    } 
    /***********************Start Media New-arrivals*******************/
    .new-arrivals .row{
        justify-content: center;
        flex-wrap: wrap;
        gap:33px;
    }  
    .new-arrivals .product {
        /* padding: 0 20px; */
        width: 43%;
    }  
    .new-arrivals .title h2 {
        
        margin-left: 20px;
    }
   /***********************End Media New-arrivals*******************/
    /* ********************** Start Media Image-sec ************* */
    .image-sec {
        /* display: unset; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,minmax(330px,auto));
    } 
    .image-sec .item:nth-child(1) {
        grid-column: 1/2;
    }
    /* **********************   End Media Image-sec ************* */
}
@media(max-width:767px) {
    /* ================== Start bg-video ================= */
    .bg-video .next-video p{
        font-size: 13px;
      }
      .bg-video .next-video a {
          font-size: 25px;
      }
    /* ================== End bg-video ================= */ 
}
@media(max-width:575px) {
    /* ================== nav bar ================= */
    .header {
        padding:60px 0;
    }
    .header .header-content {
        width:100%;
    }
    .header .header-content h1 {
        font-size: 32px;
        /* line-height: 1.2;
        margin-bottom: -25px; */
    } 
    .header .header-content p {
        /* padding-right: 0;
        margin-bottom: 30px; */
    }
    
    .header .header-img { 
       display: none;
    } 
    .header .header-content button {
        /* margin-top: -20px; */
    } 
    /*********************** End Media Nav-bar*******************/
    /***********************Start Media New-arrivals*******************/
    .new-arrivals {
        padding: 70px 0;
    }
    .new-arrivals .row{
        flex-wrap: wrap;
    }  
    .new-arrivals .product {
        width: 100%;
    }  
    .new-arrivals .title h2 {
        font-size: 30px;
            margin-left: 0;
        }
        .new-arrivals .product-details a {
        font-size: 18px;
    }
    /***********************  End Media New-arrivals*******************/
    /* ********************** Start Media Image-sec ************* */
    .image-sec {
        /* display: unset; */
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,minmax(330px,auto));
    }  
    .image-sec .item {
        /* margin-bottom: 20px; */
    }
    .image-sec .item:nth-child(1),
    .image-sec .item:nth-child(2) {
        grid-row: unset;
        /* height: 690px; */
    } 
    /* .image-sec .item:nth-child(1) {
        height: 690px;هل ضروري اعمله عشان مايأثر؟
    }    */
  
    /* ********************** End Media Image-sec ************* */ 
    
  
}



